### Uppvärmning

In [4]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import scipy.special
import pandas as pd
from numeriska_metoder import newton_raphson
# pdf = lambda x: 2*np.exp(-2*x);
# Finv = lambda u: -(1/2)*np.log(u)
df = pd.read_csv("SLS22.csv") #data frame 
Lcq_ids = ["Majerus", "Oliveira","Decenzo","Santiago", "Papa", "Eaton", "Mota", "Shirai", 
           "Jordan", "Hoefler", "Hoban", "Gustavo", "Ribeiro C", "O’neill", "Foy", "Midler"]
Lcq_ids = ["Majerus", "Oliveira", "O’neill", "Santiago", "Papa", "Ribeiro C", "Mota", "Shirai",
           "Jordan", "Hoefler", "Foy", "Midler", "Gustavo", "Hoban", "Eaton", "Decenzo"]
def init_normal_dataframe():
    ndf = df
    ndf["run 1"] = [x/10 for x in df["run 1"]]
    ndf["run 2"] = [x/10 for x in df["run 2"]]
    ndf["trick 1"] = [x/10 for x in df["trick 1"]]
    ndf["trick 2"] = [x/10 for x in df["trick 2"]]
    ndf["trick 3"] = [x/10 for x in df["trick 3"]]
    ndf["trick 4"] = [x/10 for x in df["trick 4"]]
    ndf["trick 5"] = [x/10 for x in df["trick 5"]]
    ndf["trick 6"] = [x/10 for x in df["trick 6"]]
    ndf["make 1"] = [int(bool(x)) for x in df["trick 1"].values.tolist()]
    ndf["make 2"] = [int(bool(x)) for x in df["trick 2"].values.tolist()]
    ndf["make 3"] = [int(bool(x)) for x in df["trick 3"].values.tolist()]
    ndf["make 4"] = [int(bool(x)) for x in df["trick 4"].values.tolist()]
    return ndf
ndf = init_normal_dataframe()

global_trick_data = np.concatenate([ndf[f"trick {i}"].values for i in range(1,5)])
global_svariance = np.var(global_trick_data,ddof=1)
global_smean = np.mean(global_trick_data)

           id      location  month  year        comp  heat  run 1  run 2  \
0      Berger  jacksonville      7  2022  prelim men     1   0.50   0.11
1        Papa  jacksonville      7  2022  prelim men     1   0.37   0.70
2     Pudwill  jacksonville      7  2022  prelim men     1   0.20   0.13
3      Shirai  jacksonville      7  2022  prelim men     1   0.79   0.70
4        Mota  jacksonville      7  2022  prelim men     1   0.38   0.40
..        ...           ...    ...   ...         ...   ...    ...    ...
92      Hoban     las vegas     10  2022   final men     1   0.62   0.88
93    Hoefler     las vegas     10  2022   final men     1   0.84   0.57
94      Eaton     las vegas     10  2022   final men     1   0.69   0.72
95     Joslin     las vegas     10  2022   final men     1   0.68   0.83
96  Ribeiro G     las vegas     10  2022   final men     1   0.85   0.30

    trick 1  trick 2  trick 3  trick 4  trick 5  trick 6  make 1  make 2  \
0      0.70     0.00     0.76     0.00      NaN      NaN       1       0
1      0.72     0.00     0.84     0.82      NaN      NaN       1       0
2      0.00     0.00     0.00     0.00      NaN      NaN       0       0
3      0.75     0.00     0.92     0.00      NaN      NaN       1       0
4      0.78     0.00     0.00     0.00      NaN      NaN       1       0
..      ...      ...      ...      ...      ...      ...     ...     ...
92     0.86     0.00     0.88     0.00     0.00     0.00       1       0
93     0.78     0.00     0.87     0.00     0.00     0.00       1       0
94     0.00     0.84     0.75     0.00      NaN      NaN       0       1
95     0.79     0.83     0.00     0.00     0.89     0.94       1       1
96     0.00     0.92     0.88     0.92     0.00     0.17       0       1

    make 3  make 4
0        1       0
1        1       1
2        0       0
3        1       0
4        0       0
..     ...     ...
92       1       0
93       1       0
94       1       0
95       0       0
96       1       1

[97 rows x 18 columns]